text
keyboard us
lang en_US.UTF-8
skipx

network --device {{ net_if }} --bootproto=static --ip={{ vm_ip }} --netmask={{ ip_netmask }} --gateway={{ ip_gateway }} --nameserver={{ nameserver }}

rootpw --iscrypted $1$eew4wbJ/$S9XdYHHFb5eyRSY3I7usV0
selinux --enforcing
timezone --utc America/New_York
bootloader --location=mbr --append="console=tty0 console=ttyS0,115200n8"
reqpart
clearpart --all --drives=vda
part / --fstype="xfs" --size={{ partition_size }} --grow
reboot

repo --name="fedora" --baseurl={{ baseos_repo }}

%packages
@core
kernel
nfs-utils
tar
tcpdump
vim-enhanced
wget
kernel-modules-extra
iproute-tc
tmux
yum-utils
%end

%post --erroronfail

echo "Fixing SELinux contexts."
touch /var/log/cron
touch /var/log/boot.log
mkdir -p /var/cache/yum
/usr/sbin/fixfiles -R -a restore

# remove random-seed so it's not the same every time
rm -f /var/lib/systemd/random-seed

cat << "EO_REPO" > /etc/yum.repos.d/base.repo
[rhel]
name=RHEL
baseurl={{ baseos_repo }}
enabled=1
gpgcheck=0

EO_REPO

cat <<EO_HOSTS > /etc/hosts
127.0.0.1   {{ vm_name }}{{ net_domain }} {{ vm_name }} localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         {{ vm_name }}{{ net_domain }} {{ vm_name }} localhost localhost.localdomain localhost6 localhost6.localdomain6
EO_HOSTS

mkdir -p /root/.ssh
echo "{{ user_ssh_pub_id.content | b64decode }}" >> /root/.ssh/authorized_keys
chmod 0700 /root/.ssh
chmod 0600 /root/.ssh/authorized_keys

%end
